body {
    font-family: Helvetica, sans-serif;
}

#form_container {
    position: relative;
    height: 100%;
}

#form_container ul {
	list-style-type: none;
}

#lab {
	position: absolute;
	top: 50px;
	left: 30px;
	margin: 0px;
}

#lab #oldlabel{
	margin: 10px;
	top: 10px;
}

#lab #newlabel1{
	margin: 10px;
	top: 10px;
}

#lab #newlabel2{
	margin: 10px;
	top: 10px;
}

#form_container #pwd #lab_ul {
	list-style-type: none;
	padding-left:0px;	

}

#pwd {
	position: absolute;
	top: 50px;
	left: 400px;
}

#msg {
	position: absolute;
	top: 50px;
	left: 580px;
	color: red;
}

.field_wrapper input {
    position: relative;
	left: 180px;
}

#button {
    position: relative;
	left: 75px;
	top: 150px;
}

.errorlist li{
	padding: 3px;
}