{% extends 'popup_form.html' %}

{% block extra_script_link %}
{% load staticfiles %}
<link rel='stylesheet' type='text/css' 
href='{% static "patio/login.css" %}' />
{% endblock %}

{% block popup_title %}Login{% endblock %}

{% block body %}
<div id='form_container'>
    <form id='form' method='post' action='{% url "patio:password_reset" %}'>
        {% csrf_token %}
        <div class='field_wrapper'>
            <label for='email_field'>Email</label>
            <input id='email_field' type='email' name='email' />
            <p>You will receive a link to create a new password via your 
            email.</p>
        </div>
        <input  type='submit'/>
        <a href='{% url "patio:password_reset" %}'>forgot password?</a>
    </form>
</div>
{% endblock %}
