{% extends 'popup_form.html' %}

{% block extra_script_link %}
{% load staticfiles %}
<link rel='stylesheet' type='text/css' href='{% static "patio/password_change.css" %}' />
{% endblock %}

{% block popup_title %}Password Change{% endblock %}

{% block body %}

	<form id='form' method='post' action='{% url "patio:password_change" %}'>
		{% csrf_token %}
		<div id='form_container'>
		<div id="lab">
		<p><ul id="lab_ul">
			<li id="oldlabel">{{ form.old_password.label }}</li>
			<li id="newlabel1">{{ form.new_password1.label }}</li>
			<li id="newlabel2">{{ form.new_password2.label }}</li>
		</ul></p>
		</div>
		<div id="pwd">
		<ul id="lab_ul">
			<li>{{ form.old_password }}</li>
			<li>{{ form.new_password1 }}</li>
			<li>{{ form.new_password2 }}</li>
		</ul>
		</div>
		<div id="msg">
		<ul>
			<li><strong>{{ form.old_password.errors }}</strong></li>
			<li><strong>{{ form.new_password1.errors }}</strong></li>
			<li><strong>{{ form.new_password2.errors }}</strong></li>
		</ul>
		</div>
		<input id="button" type='submit'/>
		</div>
	</form>

{% endblock %}
